{% extends 'core/base.html' %}
{% load static %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link ml-5" href="{% url 'dashboard:feed' %}">Dashboard</a>
      <a class="nav-item nav-link" href="{% url 'music:discover' %}">Músicas</a>
    </div>
  </div>
{% endblock navbar%}

{% block css %}
  <link href="{% static 'music/css/detail_music.css' %}" rel="stylesheet">
  <link href="{% static 'music/css/detail_album.css' %}" rel="stylesheet">
  <link href="{% static 'music/css/detail_playlist.css' %}" rel="stylesheet">

  
  <link href="{% static 'dashboard/css/feed.css' %}" rel="stylesheet">
{% endblock css%}

{% block content %}
  <div id="album-cover">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4c/Halsey_-_Badlands.png/220px-Halsey_-_Badlands.png">
    <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/c/c3/1989_de_Taylor_Swift.jpg/220px-1989_de_Taylor_Swift.jpg">
    <img src="https://images.genius.com/565381daa3a7d73a551d9738732b26d5.1000x1000x1.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/d5/Ariana_Grande_My_Everything_2014_album_artwork.png/220px-Ariana_Grande_My_Everything_2014_album_artwork.png">
  </div>

  <div class="music_info">
    <p class="title">Hot 100 Pop</p>
    <hr class="hr-style">
    <fieldset class="rating">
      <input type="radio" id="star5" name="rating" value="5" /><label class ="full" for="star5" title="Awesome - 5 stars"></label>
      <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
      <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
      <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
      <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
      <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
      <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
      <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
      <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
      <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
    <div class="share">
      <p>Compartilhar avaliação:</p>
      <i class="fab fa-facebook fa-2x"></i>
      <i class="fab fa-twitter-square fa-2x"></i>
    </div>
  </div>

  <ol id="playlist">
    <li><a class="track" href="#">Searching (Memoirs Of A New Discovery)<span class="time">2:54</span></a> </li>
    <li><a class="track" href="#">Charade (Exploring The Surface) feat. Julie Thurman</a> <span class="time">3:04</span></li>
    <li><a class="track" href="#">Speed of Sound (An Interruption In Spaceflight)</a> <span class="time">5:05</span></li>
    <li><a class="track" href="#">Searching (Memoirs Of A New Discovery)</a> <span class="time">2:54</span></li>
    <li><a class="track" href="#">Charade (Exploring The Surface) feat. Julie Thurman</a> <span class="time">3:04</span></li>
    <li><a class="track" href="#">Speed of Sound (An Interruption In Spaceflight)</a> <span class="time">5:05</span></li>
  </ol>


    <div class="row align-items-center justify-content-center">
      <div class="col-7">

    <div class="card my-1 content-card">
      <div class="card-header pt-1 pb-0 content-card-header">

        <div class="row">
          <div class="col-auto pt-1">
            <img src="{% static 'core/img/user11.png' %}" class="img-circle small-profile-img">
          </div>
          <div class="col">
            <p class="black-text font-weight-bold row my-0"> Xacrinha Xiscrane </p>
            <p class="black-text font-weight-light font-italic row my-0">14 de maio de 2019</p>
          </div>
        </div>
      
      </div>

    <div class="card-body content-card-body">

        <div class="row px-2">
        <p class="black-text card-text">Aí, amei. Que top!</p>
        </div>


      </div>

      <div class="card-footer text-muted content-card-footer">
        <div class="row align-items-center">
          <div class="col">

            {% include "dashboard/content_footer.html" with content_piece=content_piece%}

          </div>
        </div>
      </div>
    </div>
    </div>

    </div>



{% endblock content%}

{% block js %}
  <script type="text/javascript" src="{% static 'core/js/player.js' %}"></script>
  <script type="text/javascript" src="{% static 'music/js/album_play.js' %}"></script>
{%  endblock js %}