body {
  background: linear-gradient(to top, #333333 0%, black 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  background-color: #333333;
  height: 55px;
}

/* Text */
p, h1, h2, h3, h4 {
  color: white !important;
}

/* Links */
a {
  color: #b2b2b2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  width: 100px !important;
  text-align: center !important;
}

a:hover {
  color: white !important;
}

.selected {
  color: white !important;
  background-color: black;
}

/* Color Themes */
.primary-color {
  color: black;
}

.secondary-color {
  color: #333333;
}

/* Icons */
i {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* Player */
.audio-player {
  margin-bottom: 5px;
  width: 40%;
}

progress {
  background-color: grey;
  height: 6px;
  width: 100%;
  border:none;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-webkit-progress-value {

}

progress::-moz-progress-bar {
  background-color: red;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Account Settings */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}

.dropdown-menu {
  margin-top: 15px;
}

.grey-link:hover,
 .red-link:hover{
    color: black !important;
}

.red-link {
  color: red !important;
}


/* Notifications */


.dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}

.dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #c4c4c4 !important;
}
.dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}

.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}

 .dropdown-menu.notify-drop .drop-content > li hr {
  width: 70%;
  border-color: #e2e2e2;
}
.dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: black !important;
  font-weight: normal;
  margin: 14px 20px !important;
}

.dropdown-menu.notify-drop .drop-content  img{
  margin-left: 10px ;
}

.notification-item {
  min-height: 50px;
}

.search {
  width: 50px !important;
}

.player-drop img {
  margin: 10px;
  margin-bottom: 10px;
  width: 136px;
}

.player-drop p {
    color: black !important;
    text-align: center;
    font-style: italic;
}

.player-drop i {
    color: black !important;
    margin-left: 25%;
    margin-bottom: 10px;
}
