body {
  background: linear-gradient(to top, #333333 0%, black 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  background-color: #333333;
  height: 55px;
}

/* Text */
p, h1, h2, h3, h4 {
  color: white !important;
}

/* Links */
a {
  color: #b2b2b2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  width: 100px !important;
  text-align: center !important;
}

a:hover {
  color: white !important;
}

.selected {
  color: white !important;
  background-color: black;
}

/* Color Themes */
.primary-color {
  color: black;
}

.secondary-color {
  color: #333333;
}

/* Icons */
i {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* Player */
.audio-player {
  margin-bottom: 5px;
  width: 40%;
}

progress {
  background-color: grey;
  height: 6px;
  width: 100%;
  border:none;
}

progress::-webkit-progress-bar {
  background-color: red;
}

progress::-webkit-progress-value {

}

progress::-moz-progress-bar {
  background-color: red;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin-top: 20px;
}

/* Account Settings */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-content
{
    width:320px;
    padding: 15px;
    padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
    display: table;
    content: "";
    line-height: 0;
}
.navbar-nav.navbar-right:last-child {
margin-right: 15px !important;
}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
padding: 0px;
overflow: hidden;
}