body {
  background: linear-gradient(to top, #333333 0%, black 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  background-color: #333333;
  height: 55px;
}

/* Links */
a {
  color: #b2b2b2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  width: 100px !important;
  text-align: center !important;
}

a:hover {
  color: white !important;
}

.selected {
  color: white !important;
  background-color: black;
}

/* Color Themes */
.primary-color {
  color: black;
}

.secondary-color {
  color: #333333;
}

/* Icons */
i {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

/* Player */
.audio-player {
  margin-bottom: 5px;
  width: 40%;
}

progress {
  background-color: grey;
  height: 6px;
  width: 100%;
  border:none;
}

progress::-webkit-progress-bar {
  background-color: red;

}

progress::-webkit-progress-value {

}

progress::-moz-progress-bar {
   background-color: red;
}

/*  */