<div class="list-group list-size-top">
  <a href="{% url 'dashboard:feed' %}" class="list-group-item list-group-item-action black-background list-size">
    <font size="5">Feed</font>
  </a>
  <a class="list-group-item list-group-item-action black-background list-size">
    <font size="5">Grupos</font>
  </a>
  <a href="{% url 'dashboard:group' %}" class="list-group-item list-group-item-action gray-background list-size">🎸 Rockeiros da FGA</a>
  <a href="{% url 'dashboard:group' %}" class="list-group-item list-group-item-action gray-background list-size">🎷 Pop Rock Brasília</a>
  <a href="{% url 'dashboard:group' %}" class="list-group-item list-group-item-action gray-background list-size">🎹 Pagode Taguatinga</a>
  <a href="{% url 'dashboard:group' %}" class="list-group-item list-group-item-action gray-background list-size">🥁 Villa Mix Brasília</a>
  <label class="label-ver-mais">⇣ Ver Mais</label>
</div>
