{% extends 'core/base.html' %}

{% load static %}

{% block navbar %}
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link ml-5 selected" href="{% url 'dashboard:feed' %}">Dashboard</a>
      <a class="nav-item nav-link" href="{% url 'music:my_music' %}">Músicas</a>
    </div>
  </div>
{% endblock navbar %}

{% block css %}
  {{ block.super }}

  <link href="{% static 'dashboard/css/feed.css' %}" rel="stylesheet">

{% endblock css %}

{% block js %}
  {{ block.super }}

  <script type="text/javascript" src="{% static 'dashboard/js/feed.js' %}"></script>

{%  endblock js %}

{% block content %}

    <div class="row">

      <div class="col without-space">

        <!-- left panel -->

        {% include "dashboard/group_side.html" %}

      </div>


      <div class="col-6">

        <!-- feed section -->

        <label class="label-ver-mais"><font size="8"> Rockeiros da FGA </font> </label>

        <div class="row my-2">
          <div class="col">
            <div class="card my-1 content-card">
              <div class="card-body content-card-body">
                <textarea rows="4" cols="84" placeholder="O que deseja postar?"></textarea>
              </div>
              <div class="card-footer text-muted content-card-footer">
                <div class="row align-items-center float-right">
                  <div class="col">
                    <button class="font-weight-bold btn playlist-button">📎</button>
                    <button class="font-weight-bold btn playlist-button">Compartilhar</button>
                  </div>
                </div>
              </div>
            </div>

        {% for content_piece in content  %}

              {% include "dashboard/content_piece.html" with content_piece=content_piece %}

        {% endfor %}

          </div>
        </div>

      </div>

      <div class="col">

        <!-- right panel -->

        {% include "dashboard/chat.html" %}


      </div>

    </div>

{% endblock content %}
