<div class="panel panel-primary">
    <div class="col panel-body">
    <ul class="list-group pb-0 mb-0">
        {% for music_playlist in content_piece.playlist %}
        <li class="list-group-item">
            <div class="row px-2 pt-1 align-items-center music-item">
            <a class="album-img col" href="" onclick=abc(this) class="slider_info">
                <i class="fas fa-play fa-2x small-play-button"></i>
                <img class="img-fluid img-thumbnail img-playlist" src={{music_playlist.music_image_link}}>
            </a>
            <div class="album-info col-8 border-bottom">
                {{music_playlist.music_name}}
                <p class="font-weight-light font-italic">
                {{music_playlist.music_author}} - {{music_playlist.music_album}}
                </p>
            </div>
            <div class="col">

                <button class="fas fa-plus plus-button fa-2x"></button>
                <button class="fas fa-info-circle info-button fa-2x"></button>
            </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="playlist-info col border-left border-bottom border-right rounded-bottom">
        <div class="row justify-content-between align-items-center">
        <div class="col-auto py-2 font-weight-bold ">
            Playlist: {{view.get_name_playlist}}
        </div>
        <div class="col-auto py-2 font-weight-bold">
            Autor: {{view.get_name}}
        </div>
        <div class="col-auto py-2">
            <button class="font-weight-bold btn playlist-button">Ir para playlist</button>
        </div>
        </div>

    </div>

    </div>
</div>