{% load static %}
<script type="text/javascript" src="{% static 'dashboard/js/feed.js' %}"></script>
<audio id="myAudio">
        <source src="http://www.music.helsinki.fi/tmt/opetus/uusmedia/esim/a2002011001-e02.wav" type="audio/wav">
        Your browser does not support the audio element.
</audio>
<div class="row justify-content-center">
    <div class="col mx-2">
    <div class="row">

        <ul class="list-group playlist-list-group col pb-0 mb-0">
            
            {% for music_playlist in content_piece.playlist %}
            <li class="list-group-item playlist-item">

                <div class="row mx-0 px-0 pt-1 music-item justify-content-between align-items-center">
                    <a class="col" href="#" onclick=playAudio2(this) class="slider_info">
                        <div class="row justify-content-center">
                        <div class="col-auto">
                        <i id="play" class="fas fa-play fa-2x small-play-button play-icon"></i>
                        <img class="img-thumbnail img-playlist img-play-icon" src={{music_playlist.music_image_link}}>
                        </div>
                        </div>
                    </a>

                    <div class="col album-info border-bottom">
                        {{music_playlist.music_name}}
                        <p class="black-text font-weight-light font-italic">
                            {{music_playlist.music_author}} - {{music_playlist.music_album}}
                        </p>
                    </div>

                    <div class="col-auto">
                      <a href="{% url 'music:my_music' %}"><button class="fas fa-plus-circle plus-button fa-2x"></button></a>
                      <a href="{% url 'music:detail_music'%}"><button class="fas fa-external-link-square-alt info-button fa-2x"></button></a>
                    </div>
                </div>

            </li>
            {% endfor %}

        </ul>
    </div>

    <div class="row playlist-info border rounded-bottom justify-content-between">
        <div class="col py-2 margin-little-top font-weight-bold ">
            Playlist: {{view.get_name_playlist}}
        </div>
        <div class="col py-2 margin-little-top font-weight-bold">
            Autor: {{view.get_name}}
        </div>
        <div class="col py-2">
            <a href="{% url 'music:detail_playlist' %}"><button class="float-right font-weight-bold btn playlist-button">Ir para playlist</button></a>
        </div>
    </div>
    </div>
</div>
