.small-profile-img {

    width: 32px;
    height: 32px;
}

.album-info{

    border-color: #33333375 !important;
    border-width: 3px !important;
}

.black-icon{

    color: black !important;
}

.red-icon{

    color: red !important;
}

.play-button{
    position: absolute;
    top: 40%;
    left: 40%;
    color: #ffffffca;
}

.small-play-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffca;
}

.play-button:hover{
   color: #ffffff;
}

.small-play-button:hover{
   color: #ffffff;
}

.content-card-header{
    background: #bdbdbd;
}

.content-card-body{
    background: #ebebeb;
}

.content-card-footer{
    background: #bdbdbd;
}

.playlist-list-group{
    height: 30rem;

    overflow:scroll;
    overflow-x: hidden;
}

.playlist-item{
    height: 10rem;

}

.img-playlist{
  height: auto;
  min-width: 10%;
  max-width: 50%

}

.plus-button{
  color: rgb(49, 49, 49);
  background-color: transparent;
  border-width: 0px;
}

.plus-button:hover{
    color: green;
}

.info-button{
    color: rgb(49, 49, 49);
  background-color: transparent;
  border-width: 0px;
}

.info-button:hover{
    color: blue;
}

.playlist-button{
  border-color: black !important;
}


.playlist-button:hover{
  background-color: #F1F1F1 !important;
}

.playlist-info{
  border-width: 1px !important;
  border-top: transparent !important;
  border-color: #6A6969  !important;
  background: linear-gradient(to top, #bdbdbd 45%, #DCDCDC 95%);
}



.link-black{
  color: black !important;
}

.comment-box{
    background-color: white;
}

.black-text{
    color: black !important;

}


.chat-container{

    position: fixed;

    bottom: 0%;
    right: 0%;

    width: 25%;
}

.chat-window{

    background-color: white;

}

.chat-window-header{

    width: 100% !important;
    height: 2rem !important;

    background: linear-gradient(to top, #bdbdbd 45%, #DCDCDC 95%);
    margin: 0%;

    margin-bottom: 0rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;

    position: sticky;

    z-index: 100;

    top: 0%;
    left: 0%;
}

.chat-window-message-box{

    background-color: white;

    width: 100% !important;
    height: 2rem !important;

    position: sticky;

    z-index: 100;

    top: 100%;
    left: 0%;
}

.chat-list{

    height: 25rem;

    overflow:scroll;
    overflow-x: hidden;

}

.chat-item{

    height: 4rem;
    
    color: #b2b2b2 !important;
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    width: 100% !important;
    text-align: unset !important;

}

.chat-img{

    height: 2rem;
    width: auto;

}

.chat-message{
    position: absolute;

    bottom: 10%;
    right: 0%;

    height: 90%;
    width: 100%;

    background-color: white;

    
    overflow:scroll;
    overflow-x: hidden;
}

.chat-received-menssage{
    background-color: #ebebeb;

    width: 85%;

}

.chat-sent-menssage{
    background-color: #c5c5c5;

    width: 85%;
}

.hidden {

    visibility: hidden;
}

.no-display{
    display: none;
}

.black-background{
  background-color: darkred !important;
  color: white !important;
}

.gray-background{
  background-color: #333333 !important;
  color: white !important;
}

.list-size{
  width: 100% !important;
}

.list-size:hover{
  color: lightgray !important;
}

.list-size-top{
  width: 100% !important;
  margin-top: 7px !important;
  overflow-y: auto !important;
}

.without-space{
  margin: 0px !important;
  padding: 0px !important;
}

.label-ver-mais{
  color: white !important;
  text-align: center !important;
  margin-top: 3px !important;
}

.label-ver-mais:hover{
  color: lightgray !important;
}

.background-borded{
  border-width: 5px !important;
}

.margin-little-top{
  margin-top: 6px !important;
}

.button-new-post{
  background-color: white !important;
}
