.small-profile-img {

    width: 32px;
    height: 32px;
}

.black-icon{

    color: black !important;
}

.red-icon{

    color: red !important;
}

.content-card{

}

.content-card-header{

}

.content-card-body{

}

.content-card-footer{

}
